mat-toolbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

.app-name {
    display: none;
}

.mat-toolbar-spacer {
    flex: 1 1 auto;
}

.progress-bar-container {
    height: 4px;
}

.app-name {
    margin-left: 8px;
}

mat-progress-bar {
    position: fixed;
    z-index: 2;
    top: 56px;
    left: -24px;
    width: calc(100% + 48px);
}

.search-form-field {
    margin-left: 10px;
    margin-right: 8px;
    width: 100%;
}

.search-result-container {
    top: 70px;
    position: relative;
    text-align: center;
    font-weight: bold;
    font-size: larger;
}

.search-result-not-found-container {
    top: 86px;
    position: relative;
    text-align: center;
    font-weight: bold;
    font-size: larger;
}

.pokemon-card-container {
    display: flex;
    flex-flow: row wrap;
    top: 52px;
    position: relative;
    margin: 14px;
}

.pokemon-card {
    margin: 1em;
    flex: 1 0 calc(11%);
    min-width: 75px;
    max-width: 210px;
    font-weight: bold;
    transition: 0.3s;

    &:hover {
        cursor: pointer;
        opacity: 0.6;
        box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.6);
    }
}

.pokemon-name {
    text-transform: capitalize;
    margin-bottom: 0.5em;
}

.details-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 0.5em;
}

.pokemon-sprite-container {
    flex: 1 1 auto;
    width: 100%;
    display: flex;
    justify-content: center;
}

.scroll-to-top-button-container {
    width: 120px;
    position: fixed;
    bottom: 40px;
    right: -35px;
}

.scoll-to-load-text {
    width: 100%;
    height: 120px;
    text-align: center;
    padding: 2em;
    text-transform: uppercase;

    &:hover {
        cursor: pointer;
        opacity: 0.6;
        color: rgb(22, 138, 255);
        text-decoration: underline;
    }
}

.arrow-downward {
    vertical-align: middle;
}

.bounce {
    -moz-animation: bounce 3s infinite;
    -webkit-animation: bounce 3s infinite;
    animation: bounce 3s infinite;
}

@-moz-keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        -moz-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -moz-transform: translateY(-14px);
        transform: translateY(-14px);
    }
    60% {
        -moz-transform: translateY(-10px);
        transform: translateY(-10px);
    }
}

@-webkit-keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-14px);
        transform: translateY(-14px);
    }
    60% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
}

@keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -moz-transform: translateY(-14px);
        -ms-transform: translateY(-14px);
        -webkit-transform: translateY(-14px);
        transform: translateY(-14px);
    }
    60% {
        -moz-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
}

.white-text {
    color: #fff;
    cursor: pointer;
}

$lightenAmount: 22;
$normal: #a8a878;
.normal {
    background-color: $normal;
}
.normal-lighter {
    background-color: lighten($normal, $lightenAmount);
}

$fighting: #c03028;
.fighting {
    background-color: $fighting;
}
.fighting-lighter {
    background-color: lighten($fighting, $lightenAmount);
}

$flying: #a890f0;
.flying {
    background-color: $flying;
}
.flying-lighter {
    background-color: lighten($flying, $lightenAmount);
}

$poison: #a040a0;
.poison {
    background-color: $poison;
}
.poison-lighter {
    background-color: lighten($poison, $lightenAmount);
}

$ground: #e0c068;
.ground {
    background-color: $ground;
}
.ground-lighter {
    background-color: lighten($ground, $lightenAmount);
}

$rock: #b8a038;
.rock {
    background-color: $rock;
}
.rock-lighter {
    background-color: lighten($rock, $lightenAmount);
}

$bug: #a8b820;
.bug {
    background-color: $bug;
}
.bug-lighter {
    background-color: lighten($bug, $lightenAmount);
}

$ghost: #705898;
.ghost {
    background-color: $ghost;
}
.ghost-lighter {
    background-color: lighten($ghost, $lightenAmount);
}

$steel: #b8b8d0;
.steel {
    background-color: $steel;
}
.steel-lighter {
    background-color: lighten($steel, $lightenAmount);
}

$fire: #f08030;
.fire {
    background-color: $fire;
}
.fire-lighter {
    background-color: lighten($fire, $lightenAmount);
}

$water: #6890f0;
.water {
    background-color: $water;
}
.water-lighter {
    background-color: lighten($water, $lightenAmount);
}

$grass: #78c850;
.grass {
    background-color: $grass;
}
.grass-lighter {
    background-color: lighten($grass, $lightenAmount);
}

$electric: #f8d030;
.electric {
    background-color: $electric;
}
.electric-lighter {
    background-color: lighten($electric, $lightenAmount);
}

$psychic: #f85888;
.psychic {
    background-color: $psychic;
}
.psychic-lighter {
    background-color: lighten($psychic, $lightenAmount);
}

$ice: #98d8d8;
.ice {
    background-color: $ice;
}
.ice-lighter {
    background-color: lighten($ice, $lightenAmount);
}

$dragon: #7038f8;
.dragon {
    background-color: $dragon;
}
.dragon-lighter {
    background-color: lighten($dragon, $lightenAmount);
}

$dark: #705848;
.dark {
    background-color: $dark;
}
.dark-lighter {
    background-color: lighten($dark, $lightenAmount);
}

$fairy: #ee99ac;
.fairy {
    background-color: $fairy;
}
.fairy-lighter {
    background-color: lighten($fairy, $lightenAmount);
}

$unknown: #68a090;
.unknown {
    background-color: $unknown;
}
.unknown-lighter {
    background-color: lighten($unknown, $lightenAmount);
}

@media only screen and (min-width: 600px) {
    .app-name {
        display: block;
    }

    .search-form-field {
        width: 400px;
        margin-left: 1em;
        margin-right: 1em;
    }

    mat-progress-bar {
        top: 64px;
    }

    .search-result-container {
        top: 76px;
    }

    .pokemon-card-container {
        top: 60px;
    }

    .pokemon-card {
        margin: 1.5em;
    }
}
