<mat-toolbar color="primary" [class.mat-elevation-z8]="shouldShowElevation">
    <mat-toolbar-row>
        <span class="app-name">Pokédex</span>
        <span class="mat-toolbar-spacer"></span>
        <mat-form-field class="search-form-field" floatLabel="never">
            <input matInput type="text" placeholder="search..." (keyup)="applyFilter($event)" #searchInput>
            <button mat-button *ngIf="searchInput.value" matSuffix mat-icon-button aria-label="Clear"
                (click)="onClearSearchClick(searchInput)">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
        <button mat-button (click)="onResetClick()" [disabled]="isLoading" class="reset-button">Reset</button>
        <app-account-menu></app-account-menu>
    </mat-toolbar-row>
</mat-toolbar>
<div class="progress-bar-container">
    <mat-progress-bar *ngIf="isLoading" color="primary" mode="indeterminate"></mat-progress-bar>
</div>
<div *ngIf="isApplyingType" class="search-result-container">
    Searching by type:
    <mat-chip class="white-text" [ngClass]="searchingByType">
        {{ searchingByType }}
    </mat-chip>
</div>
<div *ngIf="pokemons.length === 0 && !isLoading" class="search-result-not-found-container">
    {{ this.nextUrl && !this.isApplyingType ? 'There are more results' : 'Result not found' }}
</div>
<div class="pokemon-card-container" appPokemonClick (morePokemonsRequired)="onScroll($event)">
    <mat-card *ngFor="let pokemon of pokemons;" id="{{ getId(pokemon.url) }}" class="mat-elevation-z2 pokemon-card"
        [class]="pokemon.details && pokemon.details.types[0].type.name + '-lighter'"
        [attr.data-imgsrc]="pokemon.details && pokemon.details.sprites.front_default || 'assets/img/meltan_placeholder.png'">
        #{{ getId(pokemon.url) }}<span class="pokemon-name"> {{ pokemon.name }}</span>
        <ng-container *ngIf="pokemon.details && pokemon.details.types.length > 0">
            <div class="details-container">
                <div class="pokemon-sprite-container">
                    <img [src]="pokemon.details.sprites.front_default || 'assets/img/meltan_placeholder.png'"
                        alt="Sprite of Pokemon" width="96" height="96">
                </div>
                <mat-chip-list>
                    <mat-chip *ngFor="let type of pokemon.details.types;" class="white-text" [ngClass]="type.type.name"
                        (click)="onTypeClick(type.type.name)">
                        {{ type.type.name }}
                    </mat-chip>
                </mat-chip-list>
            </div>
        </ng-container>
    </mat-card>
    <ng-container *ngIf="nextUrl && !isApplyingType">
        <div class="scoll-to-load-text" (click)="onScroll()">
            <mat-icon aria-hidden="false" aria-label="Scroll down to load more" class="arrow-downward bounce">
                catching_pokemon
            </mat-icon><span>Tap to load more</span>
        </div>
    </ng-container>
</div>
<div *ngIf="shouldShowScrollTopButton" class="scroll-to-top-button-container">
    <button mat-fab color="primary" (click)="onScrollToTopClick()">
        <mat-icon>keyboard_arrow_up</mat-icon>
    </button>
</div>
<div infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" (scrolled)="onScroll()"></div>