<div class="progress-bar-container">
    <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
</div>
<div class="form-container" [@slideInOut]="animationState">
    <form *ngIf="animationState === 0" [formGroup]="loginForm">
        <div *ngIf="isFormSubmitted && !isCredentialsValid" class="invalid-credentials-text">
            Invalid Email/Password
        </div>
        <div class="form-field-container">
            <mat-form-field>
                <input matInput formControlName="email" placeholder="Email" #email>
            </mat-form-field>
            <mat-form-field formGroupName="credential">
                <input matInput formControlName="password" [type]="hidePassword ? 'password' : 'text'"
                    placeholder="Password" (keydown.space)="$event.preventDefault();"
                    (paste)="$event.preventDefault();">
                <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword"
                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword" type="button">
                    <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
        </div>
        <button mat-flat-button type="submit" color="primary" (click)="onLogIn()" class="login-button"
            [disabled]="!loginForm.dirty || !loginForm.valid || isLoading">Log In</button>
        <div class="anchor-container"><a href="">Forgotten password?</a></div>
        <mat-divider></mat-divider>
        <button mat-flat-button type="button" (click)="onCreateNewAccount()" class="new-account-button"
            [disabled]="isLoading">
            Creat New Account</button>
        <!-- <div class="text-container">or</div>
        <button mat-flat-button (click)="onFacebookLogIn()" class="facebook-login-button" [disabled]="isLoading">
            <mat-icon class="facebook-icon">facebook</mat-icon>Login with Facebook
        </button> -->
    </form>
    <app-create-account (isCreatingAccount)="onAccountIsCreating($event)" [animationState]="animationState"
        (animationStateChange)="onAnimationStateChange($event)">
    </app-create-account>
</div>
<mat-dialog-actions align="center">
    <div class="back-to-login-button">
        <button *ngIf="animationState === 1" mat-button color="primary" type="button" (click)="onBackToLogIn()">
            Back to Log In
        </button>
    </div>
    <div class="cancel-button">
        <button mat-button color="primary" type="button" mat-dialog-close>Cancel</button>
    </div>
</mat-dialog-actions>