.progress-bar-container {
    height: 4px;
}

mat-progress-bar {
    position: relative;
    z-index: 2;
    top: -24px;
    left: -24px;
    width: calc(100% + 48px);
}

.login-bottom-footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.form-container {
    padding-top: 5px;
    padding-bottom: 20px;
    height: calc(100% - 80px);
}

.invalid-credentials-text {
    color: white;
    margin-bottom: 0.5em;
    border-radius: 4px;
    line-height: 36px;
    background: #c62828;
    text-align: center;
}

form {
    flex-direction: column;
    display: flex;
    justify-content: center;
    height: 100%;
    overflow: auto;
}

.form-field-container {
    display: flex;
    flex-flow: column;
}

mat-form-field.mat-form-field {
    font-size: 16px;
}

.anchor-container {
    margin-top: 16px;
    text-align: center;
}

.anchor-container > a {
    color: #1877f2;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
}

mat-divider {
    margin: 20px 0;
}

.new-account-button {
    background-color: #42b72a;
    color: white;
}

.text-container {
    margin: 10px 0;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
}

.facebook-icon {
    margin-right: 16px;
}

.fb-login-button-container {
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

.fb-login-button {
    width: 100%;
}

.facebook-login-button {
    background-color: #1877f2;
    color: white;
}

.login-bottom-footer {
    height: 105px;
}

.login-bottom-footer .login-buttom-logo {
    text-align: left;
    padding: 8px 16px 8px 16px;
}

.login-bottom-footer .login-buttom-trademark {
    text-align: right;
    padding: 8px 16px 8px 16px;
}

.back-to-login-button {
    flex: 1;
    text-align: left;
}

.cancel-button {
    flex: 1;
    text-align: right;
}

@media only screen and (orientation: landscape) and (max-width: 768px) {
    .form-field-container {
        flex-direction: row;
        justify-content: space-between;
    }

    mat-divider {
        display: none;
    }

    .form-field-container > mat-form-field {
        width: 45%;
    }

    .anchor-container {
        margin-bottom: 16px;
    }
}
