<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-icon-button>
            <mat-icon>menu</mat-icon>
        </button>
        <span>Pokédex</span>
        <span class="mat-toolbar-spacer"></span>
        <button mat-flat-button color="primary" (click)="onResetClick()" [disabled]="isLoading">Reset</button>
    </mat-toolbar-row>
</mat-toolbar>
<div class="pokemon-card-container" pokemonClick>
    <mat-card *ngFor="let pokemon of pokemons;" id="{{ pokemon.url }}" class="mat-elevation-z2 pokemon-card"
        [class]="pokemon.details && pokemon.details.types[0].type.name + '-lighter'">
        #{{ getId(pokemon.url) }}<span class="pokemon-name"> {{ pokemon.name }}</span>
        <ng-container *ngIf="pokemon.details && pokemon.details.types.length > 0">
            <div class="details-container">
                <div class="pokemon-sprite-container">
                    <img class="pokemon-sprite" [src]="pokemon.details.sprites.front_default" alt="Sprite of Pokemon">
                </div>
                <mat-chip-list>
                    <mat-chip *ngFor="let type of pokemon.details.types;" class="white-text" [ngClass]="type.type.name"
                        (click)="onTypeClick(type.type.name)">
                        {{ type.type.name }}
                    </mat-chip>
                </mat-chip-list>
            </div>
        </ng-container>
    </mat-card>
    <ng-container *ngIf="nextUrl">
        <div class="scoll-to-load-text">
            <mat-icon aria-hidden="false" aria-label="Scroll down to load more" class="arrow-downward bounce">
                arrow_downward
            </mat-icon> Scroll down to load more
        </div>
    </ng-container>
</div>
<div infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" (scrolled)="onScroll()"></div>