<div class="admin-container" [class.admin-is-mobile]="mobileQuery.matches">
    <mat-toolbar color="primary" class="admin-toolbar">
        <mat-toolbar-row>
            <button mat-icon-button (click)="snav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
            <h1 class="app-name">Pokédex Admin</h1>
            <span class="mat-toolbar-spacer"></span>
            <button mat-icon-button routerLink="/pokedex">
                <mat-icon>home</mat-icon>
            </button>
            <app-account-menu></app-account-menu>
        </mat-toolbar-row>
    </mat-toolbar>

    <mat-sidenav-container class="admin-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
        <mat-sidenav #snav [opened]="mobileQuery.matches ? false : true" [mode]="mobileQuery.matches ? 'over' : 'side'"
            [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
            <mat-nav-list>
                <a #rla="routerLinkActive" mat-list-item [routerLink]="nav.relativePath" [routerLinkActive]="['active']"
                    *ngFor="let nav of fillerNav"
                    (click)="mobileQuery.matches ? snav.opened = false : snav.opened = true"
                    class="anchor-item">{{nav.label}}
                    <button *ngIf="rla.isActive" mat-icon-button type="button" class="refresh-button"
                        (click)="onRefreshClicked()" title="ดึงข้อมูลจากตารางใหม่">
                        <mat-icon>refresh</mat-icon>
                    </button>
                </a>
            </mat-nav-list>
        </mat-sidenav>

        <mat-sidenav-content>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>