<div class="progress-bar-container">
    <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
</div>
<div class="form-container">
    <div class="user-container">
        <h2 mat-dialog-title id="user-dialog-title"> {{isCreatingNew ? 'Create New':'Edit'}} Trainer</h2>
        <form [formGroup]="trainerForm" (ngSubmit)="onSubmit()">
            <mat-form-field>
                <input matInput #email maxlength="32" placeholder="Email" formControlName="email">
                <mat-hint>Required</mat-hint>
                <mat-hint align="end">{{email.value.length}} / 32</mat-hint>
                <mat-error
                    *ngIf="trainerForm.controls.email.hasError('email') && !trainerForm.controls.email.hasError('required')">
                    Please enter a valid email address
                </mat-error>
                <mat-error *ngIf="trainerForm.controls.email.hasError('required')">
                    Required*
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput #name maxlength="32" placeholder="Name" formControlName="name">
                <mat-hint>Required</mat-hint>
                <mat-hint align="end">{{name.value.length}} / 32</mat-hint>
                <mat-error *ngIf="trainerForm.controls.name.hasError('required')">
                    Required*
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Rank</mat-label>
                <mat-select formControlName="role">
                    <mat-option *ngFor="let roleOption of roleOptions" [value]="roleOption.value">
                        {{roleOption.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <h3 *ngIf="isCreatingNew">
                New trainer will have password: <span><i><b>11112222</b></i></span>
            </h3>
            <button mat-flat-button color="primary" [disabled]="!trainerForm.dirty || !trainerForm.valid || isLoading"
                type="submit">{{isCreatingNew ? 'Create' : 'Save'}}</button>
        </form>
    </div>
</div>
<mat-dialog-actions align="end">
    <div class="cancel-button">
        <button mat-button color="primary" type="button" mat-dialog-close>Cancel</button>
    </div>
</mat-dialog-actions>