/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: lighten(#3f51b5, 40);
}

.dialog-responsive,
.login-dialog-responsive {
    max-width: 100vw !important;
    height: 100vh !important;
}

@media only screen and (orientation: portrait) and (min-width: 600px) {
    .dialog-responsive {
        width: 600px !important;
        height: auto !important;
    }

    .login-dialog-responsive {
        width: 400px !important;
        height: auto !important;
    }
}

@media only screen and (orientation: landscape) and (min-width: 820px) {
    .dialog-responsive {
        width: 600px !important;
        height: auto !important;
    }

    .login-dialog-responsive {
        width: 400px !important;
        height: auto !important;
    }
}
