<div class="progress-bar-container">
    <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
</div>
<div class="content-container">
    <h2 mat-dialog-title id="delete-dialog-title">{{data.title}}</h2>
    <mat-dialog-content class="mat-typography">
        <p [innerHTML]="data.content"></p>
    </mat-dialog-content>
</div>
<mat-dialog-actions align="end">
    <button mat-raised-button mat-dialog-close>Cancel</button>
    <button mat-raised-button color="primary" (mouseup)="onDeleteClicked()" [disabled]="isLoading"
        (keyup.enter)="onDeleteClicked()">Delete</button>
</mat-dialog-actions>