<div class="progress-bar-container">
    <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
</div>
<div class="content-container">
    <h2 mat-dialog-title id="delete-dialog-title">{{data.title}}</h2>
    <mat-dialog-content class="mat-typography">
        <p [innerHTML]="data.content"></p>
    </mat-dialog-content>
    <button mat-raised-button type="submit" color="primary" (mouseup)="onDeleteClicked()" [disabled]="isLoading"
        (keyup.enter)="onDeleteClicked()">Delete</button>
</div>
<mat-dialog-actions align="end">
    <div class="cancel-button">
        <button mat-button color="primary" type="button" mat-dialog-close>Cancel</button>
    </div>
</mat-dialog-actions>