<form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
  <div class="checkbox-container">
    <mat-checkbox #changePwdCb class="change-password-flex-item" (change)="onChangePasswordCheckboxChanged($event)"
      formControlName="changePasswordCheckbox">
      Change Password
    </mat-checkbox>
  </div>
  <ng-container *ngIf="enableCredentialForm">
    <div class="credential-container">
      <mat-form-field formGroupName="credential">
        <input matInput formControlName="currentPassword" #currentPassword maxlength="64"
          [type]="hideCurrentPassword ? 'password' : 'text'" placeholder="Current Password"
          (keydown.space)="$event.preventDefault();">
        <button mat-icon-button matSuffix (click)="hideCurrentPassword = !hideCurrentPassword"
          [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideCurrentPassword" type="button">
          <mat-icon>{{hideCurrentPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-hint>Required</mat-hint>
        <mat-hint align="end">{{currentPassword.value.length}} / 64</mat-hint>
        <mat-error *ngIf="changePasswordForm.controls.credential.get('currentPassword')?.hasError('required')">
          Required*
        </mat-error>
      </mat-form-field>
      <mat-form-field formGroupName="credential">
        <input matInput formControlName="password" #password maxlength="64" [type]="hidePassword ? 'password' : 'text'"
          placeholder="New Password" (keydown.space)="$event.preventDefault();" (paste)="$event.preventDefault();">
        <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hidePassword" type="button">
          <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-hint>Required</mat-hint>
        <mat-hint align="end">{{password.value.length}} / 64</mat-hint>
        <mat-error *ngIf="changePasswordForm.controls.credential.get('password')?.hasError('required')">
          Required*
        </mat-error>
        <mat-error *ngIf="changePasswordForm.controls.credential.get('password')?.hasError('minlength')">
          The password must be at least 8 characters long
        </mat-error>
      </mat-form-field>
      <mat-form-field formGroupName="credential">
        <input matInput formControlName="confirmPassword" #confirmPassword maxlength="64"
          [type]="hideConfirmPassword ? 'password' : 'text'" placeholder="Confirm New Password"
          (keydown.space)="$event.preventDefault();">
        <button mat-icon-button matSuffix (click)="hideConfirmPassword = !hideConfirmPassword"
          [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideConfirmPassword" type="button">
          <mat-icon>{{hideConfirmPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-hint>Required</mat-hint>
        <mat-hint align="end">{{confirmPassword.value.length}} / 64</mat-hint>
        <mat-error *ngIf="changePasswordForm.controls.credential.get('confirmPassword')?.hasError('required')">
          Required*
        </mat-error>
        <mat-error *ngIf="changePasswordForm.controls.credential.get('confirmPassword')?.hasError('passwordMismatch')
          && !changePasswordForm.controls.credential.get('confirmPassword')?.hasError('required')">
          The password does not match
        </mat-error>
      </mat-form-field>
      <div class="submit-button-container">
        <button mat-flat-button type="submit" color="primary"
          [disabled]="!changePasswordForm.dirty || !changePasswordForm.valid || isLoading">
          Update Password
        </button>
      </div>
      <!-- <div class="password-requirement-flex-item">
          <mat-list>
            <h5 class="password-requirement-header">Password Requirements (2 out of 3 required)</h5>
            <mat-list-item
              [class]="hasRequiredOrAlphanumericError ? 'password-requirement-error' : 'password-requirement-passed'">
              <mat-icon mat-list-icon class="password-requirement-icon">
                {{hasRequiredOrAlphanumericError ? 'error': 'check_circle'}}
              </mat-icon>
              Alphanumeric upper and lower case characters<br>(e.g. A, B, c, z, ...)
            </mat-list-item>
            <mat-list-item
              [class]="hasRequiredOrNumberError ? 'password-requirement-error' : 'password-requirement-passed'">
              <mat-icon mat-list-icon class="password-requirement-icon">
                {{hasRequiredOrNumberError ? 'error': 'check_circle'}}
              </mat-icon>
              Arabic numerals (e.g. 0, 1, 2...9)
            </mat-list-item>
            <mat-list-item
              [class]="hasRequiredOrNonAlphanumericError ? 'password-requirement-error' : 'password-requirement-passed'">
              <mat-icon mat-list-icon class="password-requirement-icon">
                {{hasRequiredOrNonAlphanumericError ? 'error' : 'check_circle'}}
              </mat-icon>
              Non-alphanumeric or special characters<br>(e.g. ?, !, %, *, ...)
            </mat-list-item>
          </mat-list>
        </div> -->
    </div>
  </ng-container>
</form>