form,
.credential-container {
  display: flex;
  flex-flow: row wrap;
  margin: 0 5px;
}

.checkbox-container,
mat-form-field,
.submit-button-container {
  flex: 1 0 100%;
}
.checkbox-container > mat-checkbox {
  margin-left: 6px;
  margin-top: 10px;
}

mat-form-field {
  margin: 6px 0;
}

button[type="submit"] {
  width: 100%;
  margin-top: 15px;
}

mat-form-field.mat-form-field,
mat-checkbox {
  font-size: 16px;
}

@media only screen and (min-width: 600px) {
  .credential-container {
    justify-content: space-around;
  }

  mat-form-field,
  .submit-button-container {
    flex: 0 1 45%;
  }
}
