<div *ngIf="animationState === 2" class="forgot-password-container">
  <h2 mat-dialog-title>Forgot Password</h2>
  <form [formGroup]="createAccountForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input matInput maxlength="32" placeholder="Email" formControlName="email" #newEmail>
      <mat-hint>Required</mat-hint>
      <mat-hint align="end">{{newEmail.value.length}} / 32</mat-hint>
      <mat-error *ngIf="createAccountForm.controls.email.hasError('required')">
        Required*
      </mat-error>
    </mat-form-field>
    <button mat-flat-button type="submit" color="primary" disabled="true">
      Send (Not implemented yet, comeback later)
    </button>
  </form>
</div>

<!-- [disabled]="!createAccountForm.dirty || !createAccountForm.valid || (isLoading | async )"> -->