<div class="column-filter-container">
    <mat-form-field class="select-form-field">
        <mat-label>Filter by column</mat-label>
        <mat-select #matSelect (selectionChange)="onSelectColumnChanged($event.value)" [value]="defaultSelectedColumn"
            [disabled]="isLoading">
            <mat-option #matOption *ngFor="let option of selectColumnOptions" [value]="option.value"
                [title]="option.viewValue">
                {{option.viewValue}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field class="input-form-field">
        <input matInput #searchInput (keyup)="onFilterApplied($event)" placeholder="Filter" [disabled]="isLoading">
        <button mat-button *ngIf="searchInput.value" matSuffix mat-icon-button aria-label="Clear" [disabled]="isLoading"
            (click)="onClearSearchInputClicked()">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>
    <span class="spacer"></span>
</div>