<form [formGroup]="inlineForm" (ngSubmit)="onSubmit()" class="inline-edit-container">
  <div class="form-container">
    <span *ngIf="!isEditting">{{inputLabel}}: <i>{{inlineForm.controls.inputForm.value}}</i></span>
    <mat-form-field *ngIf="isEditting">
      <input #input matInput maxlength="32" [placeholder]="getPlaceholder()" formControlName="inputForm"
        (blur)="onBlur($event)">
      <mat-hint align="end">{{input.value.length}} / 32</mat-hint>
      <mat-error
        *ngIf="inlineForm.controls.inputForm.hasError('email') && !inlineForm.controls.inputForm.hasError('required')">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="inlineForm.controls.inputForm.hasError('required')">
        Required*
      </mat-error>
    </mat-form-field>
  </div>
  <div class="edit-button-container">
    <button *ngIf="!isEditting" mat-button type="button" (click)="onEditClicked()" title="Edit">
      <mat-icon>edit</mat-icon>
    </button>
    <button *ngIf="isEditting" mat-button type="submit" (mousedown)="$event.preventDefault()" title="Save">
      <mat-icon>check</mat-icon>
    </button>
  </div>
</form>