<div *ngIf="isLoading" class="detail-loading-container">
    <main class="animated-background">
        <div class="background-masker header-right"></div>
        <div class="background-masker header-bottom"></div>
        <div class="background-masker footer-top"></div>
        <div class="background-masker footer-left"></div>
    </main>
</div>

<!-- <div *ngIf="false; then thenBlock else elseBlock"></div>
<ng-template #thenBlock>
    <main class="animated-background">
        <div class="background-masker content-top"></div>
        <div class="background-masker content-right"></div>
        <div class="background-masker content-bottom"></div>
        <div class="background-masker content-left"></div>
    </main>
</ng-template> -->