<div *ngIf="animationState === 1" class="create-account-container">
    <h2 mat-dialog-title>Create New Account</h2>
    <form [formGroup]="createAccountForm" (ngSubmit)="onSubmit()">
        <mat-form-field>
            <input matInput maxlength="32" placeholder="Email" formControlName="email" #newEmail>
            <mat-hint>Required</mat-hint>
            <mat-hint align="end">{{newEmail.value.length}} / 32</mat-hint>
            <mat-error *ngIf="createAccountForm.controls.email.hasError('required')">
                Required*
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput #name maxlength="32" placeholder="Name" formControlName="name">
            <mat-hint>Required</mat-hint>
            <mat-hint align="end">{{name.value.length}} / 32</mat-hint>
            <mat-error *ngIf="createAccountForm.controls.name.hasError('required')">
                Required*
            </mat-error>
        </mat-form-field>
        <mat-form-field formGroupName="credential">
            <input matInput formControlName="password" #password maxlength="64"
                [type]="hidePassword ? 'password' : 'text'" placeholder="Password"
                (keydown.space)="$event.preventDefault();" (paste)="$event.preventDefault();">
            <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hidePassword" type="button">
                <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-hint>Required</mat-hint>
            <mat-hint align="end">{{password.value.length}} / 64</mat-hint>
            <mat-error *ngIf="createAccountForm.controls.credential.get('password')?.hasError('required')">
                Required*
            </mat-error>
            <mat-error *ngIf="createAccountForm.controls.credential.get('password')?.hasError('minlength')">
                The password must be at least 8 characters long
            </mat-error>
        </mat-form-field>
        <mat-form-field formGroupName="credential">
            <input matInput formControlName="confirmPassword" #confirmPassword maxlength="64"
                [type]="hideConfirmPassword ? 'password' : 'text'" placeholder="Confirm password"
                (keydown.space)="$event.preventDefault();">
            <button mat-icon-button matSuffix (click)="hideConfirmPassword = !hideConfirmPassword"
                [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideConfirmPassword" type="button">
                <mat-icon>{{hideConfirmPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-hint>Required</mat-hint>
            <mat-hint align="end">{{confirmPassword.value.length}} / 64</mat-hint>
            <mat-error *ngIf="createAccountForm.controls.credential.get('confirmPassword')?.hasError('required')">
                Required*
            </mat-error>
            <mat-error *ngIf="createAccountForm.controls.credential.get('confirmPassword')?.hasError('passwordMismatch')
            && !createAccountForm.controls.credential.get('confirmPassword')?.hasError('required')">
                The password does not match
            </mat-error>
        </mat-form-field>
        <button mat-flat-button type="submit" color="primary"
            [disabled]="!createAccountForm.dirty || !createAccountForm.valid || (isCreatingAccount | async )">
            Create Account
        </button>
    </form>
</div>