<button *ngIf="!authService.isLoggedIn" mat-button (click)="onLogInClick()">Log In</button>
<span *ngIf="authService.isLoggedIn" class="app-toolbar-user">
  <button mat-icon-button [matMenuTriggerFor]="menu" [title]="authService.currentUser.name">
    <mat-icon>account_circle</mat-icon>
  </button>
  <mat-menu #menu="matMenu" id="matMenu">
    <button mat-menu-item (click)="openTrainerCard()">
      <mat-icon>person</mat-icon>
      <span>{{authService.currentUser.name}}</span>
    </button>
    <div *ngIf="authService.isAdmin()" mat-menu-item routerLink="/admin/manage-trainers">
      <mat-icon>groups</mat-icon>
      <span>Manage Trainers</span>
    </div>
    <mat-divider></mat-divider>
    <button mat-menu-item (click)="onLogOutClick()">
      <mat-icon>exit_to_app</mat-icon>
      <span>Log Out</span>
    </button>
  </mat-menu>
</span>