<div *ngIf="isLoading; then thenBlock else elseBlock"></div>

<ng-template #thenBlock>
  <app-detail-dialog-loading [isLoading]="isLoading"></app-detail-dialog-loading>
</ng-template>

<ng-template #elseBlock>
  <h3 mat-dialog-title>#{{ pokemonDetail.id }} <span class="pokemon-name">{{ pokemonDetail.name }}</span>
  </h3>
  <mat-tab-group>
    <mat-dialog-content>
      <mat-tab label="Summary">
        <div class="tab-content-flex-container">
          <div class="main-flex-item">
            <img mat-card-image [src]="pokemonDetail.sprites.front_default || 'assets/img/meltan_placeholder.png'"
              alt="Sprite of Pokemon">
            <ng-container *ngIf="pokemonDetail.abilities.length > 0">
              <b>Abilities</b>
              <ul>
                <li *ngFor="let ability of pokemonDetail.abilities;">
                  {{ ability.ability.name }}
                  <span *ngIf="ability.is_hidden"><i> (hidden ability)</i></span>
                </li>
              </ul>
            </ng-container>
          </div>
          <div class="main-flex-item-chart">
            <canvas baseChart [datasets]="radarChartData" [options]="radarChartOptions" [labels]="radarChartLabels"
              [chartType]="radarChartType">
            </canvas>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Moves">
        <div>
          <div class="main-flex-item-table">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
              <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ column }}</th>
                <td mat-cell *matCellDef="let move">{{ move[column] }}</td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="columnsToDisplay; sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
              <tr></tr>
            </table>
            <div *ngIf="isLoadingMove" class="spinner-container">
              <mat-progress-spinner color="primary" mode="indeterminate">
              </mat-progress-spinner>
            </div>
          </div>
        </div>
      </mat-tab>
    </mat-dialog-content>
  </mat-tab-group>
  <mat-dialog-actions class="mat-dialog-action">
    <button *ngIf="data.previous" mat-button color="primary" (click)="onNextPokemonClick()">
      <mat-icon>keyboard_arrow_left</mat-icon>Previous
      <img class="pokemon-sprite" [src]="data.previous.dataset.imgsrc" alt="Sprite of Pokemon">
    </button>
    <button *ngIf="data.next" mat-button color="primary" (click)="onNextPokemonClick(true)">
      <img class="pokemon-sprite" [src]="data.next.dataset.imgsrc" alt="Sprite of Pokemon">
      Next<mat-icon>keyboard_arrow_right</mat-icon>
    </button>
  </mat-dialog-actions>
</ng-template>