<mat-card id="{{ pokemon.url }}" class="pokemon-card mat-elevation-z2"
  [class]="pokemon.details && pokemon.details.types[0].type.name + '-lighter'"
  [attr.data-imgsrc]="pokemon.details && pokemon.details.sprites.front_default || 'assets/img/meltan_placeholder.png'">
  #{{ getId(pokemon.url) }}<span class="pokemon-name"> {{ pokemon.name }}</span>
  <ng-container *ngIf="pokemon.details && pokemon.details.types.length > 0">
    <div class="details-container">
      <div class="pokemon-sprite-container">
        <img [src]="pokemon.details.sprites.front_default || 'assets/img/meltan_placeholder.png'"
          alt="Sprite of Pokemon">
      </div>
      <mat-chip-list>
        <mat-chip *ngFor="let type of pokemon.details.types;" class="white-text" [ngClass]="type.type.name"
          (click)="onTypeClick(type.type.name)">
          {{ type.type.name }}
        </mat-chip>
      </mat-chip-list>
    </div>
  </ng-container>
</mat-card>