@keyframes placeHolderShimmer {
    0% {
        background-position: -468px 0;
    }
    100% {
        background-position: 468px 0;
    }
}

.animated-background {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: #f6f7f8;
    background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    background-size: 970px 104px;
    height: 500px;
    position: relative;
}

.background-masker {
    background: #ffffff;
    position: absolute;
}

.detail-loading-container {
    background: #ffffff;
    max-width: 599px;
    font-size: 1.4em;
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 5px;
}

.header-right {
    top: 0;
    right: 0;
    height: 28px;
    width: 45%;
}

.header-bottom {
    top: 28px;
    left: 0;
    height: 40px;
    width: 100%;
}

.footer-top {
    top: 400px;
    left: 0;
    height: 60px;
    width: 100%;
}

.footer-left {
    bottom: 0;
    left: 135px;
    height: 40px;
    width: 139px;
}

.footer-right {
    bottom: 0;
    right: 135px;
    height: 40px;
    width: 139px;
}

@media only screen and (max-width: 599px) {
    .animated-background {
        height: 88vh;
        margin: 1em;
    }
    .footer-top {
        top: unset;
        bottom: 0;
        height: 100px;
    }
}
